* {
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
}

:root {
    --Dark-cyan: hsl(185, 75%, 39%);
    --Very-dark-desaturated-blue: hsl(229, 23%, 23%);
    --Dark-grayish-blue: hsl(227, 10%, 46%);

    --Dark-gray: hsl(0, 0%, 59%);
}

body {
    background: var(--Dark-cyan);
}

.container {
    display: block;
    max-width: 300px;
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 80px;
    text-align: center;

    background-color: white;
    border-radius: 1rem;
    box-shadow: 5px 5px 30px rgba(35, 35, 35, 0.2);
}

.container .card-bg {
    width: 100%;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
}

.profile-text {
    margin-top: -2rem;
    margin-bottom: 1.5rem;
}
.profile-text p {
    margin-top: 0.5rem;
    color: var(--Dark-gray);
}

.profile-text span {
    color: var(--Dark-gray);
    font-weight: 400;
}

.container .user-photo {
    display: block;
    margin: 0 auto;
    border-radius: 4rem;
    transform: translateY(-50%);
    border: 7px solid white;
    outline-color: invert;
}

.user-stat {
    display: flex;
    justify-content: center;
    border-top: 1px solid;
    border-color: rgb(204, 203, 203);
}

.user-stat .stat-card {
    margin: 1rem;
}

.user-stat p {
    color: var(--Dark-gray);
    margin-top: 0.25rem;
    margin-bottom: 0.75rem;
    font-size: 0.75rem;
    letter-spacing: 0.1rem;
    font-weight: 700;
}
