* {
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
}

:root {
    --Dark-cyan: hsl(185, 75%, 39%);
    --Very-dark-desaturated-blue: hsl(229, 23%, 23%);
    --Dark-grayish-blue: hsl(227, 10%, 46%);

    --Dark-gray: hsl(0, 0%, 59%);
}

body {
    background: var(--Dark-cyan);
}

.container {
    display: block;
    max-width: 300px;
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 80px;

    background-color: white;
    border-radius: 1rem;
    box-shadow: 5px 5px 30px rgba(35, 35, 35, 0.2);
}

.container .card-bg {
    width: 100%;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
}

.container .user-photo {
    display: block;
    margin: 0 auto;
    border-radius: 4rem;
    transform: translateY(-50px);
    border: 7px solid white;
    outline-color: invert;
}